<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RitstaR</title>

    {# Loading Bootstrap library #}
    {% load bootstrap3 %}
    {# Loading CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"> </script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <div class="container">
        <div class="jumbotron">

        <h1 style="color: red;">News App : Created by:- Ritesh And Abhay</h1>
        <h3>Categories: <a href="#">Tech News</a>  <a href="http://127.0.0.1:8000/public-news">Worldwide News</a></h3>
        
        </div>
    </div>
<div class="container">
        <h2>Top 20 Tech Headlines</h2>
    <div class="list-group">
            <ol>
            {% for i in headl.articles %}
            <li><a href="{{i.url}}" style="font-size:20px;" target="_blank" class="list-group-item list-group-item-action"><img src="{{i.urlToImage}}" alt="" style="width:120px;height:90px;">     {{ i.title }}</a></li>
      
            {% endfor %}
            </ol>
        </div>
    </div>
    
  
</body>
</html>