<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RitstaR</title>

    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
</head>
<body>
    <div class="container">
        <div class="jumbotron">

        <h1 style="color: red;">News App : Made by:- Ritesh And Abhay</h1>
        
        </div>
    </div>

    
<div class="container">
    <ul class="list-styled">
            {% for i in headl.articles %}
            <li class="media">
              <img class="mr-3" src="{{i.urlToImage}}" alt="Generic placeholder image" style="width:64px;height:64px;">
              <div class="media-body">
                <h5 class="mt-0 mb-1">{{ i.title }}</h5>
                {{ i.description }}
              </div>
            </li>
            {% endfor %}
    </ul>
</div>

    <!--div class="container">
            
        <ol>
        {% for i in headl.articles %}
        
        <li><img src="{{i.urlToImage}}" alt="" style="width:120px;height:90px;"><a href="{{i.url}}">    {{ i.title }}</a></li>
        <br><br> 

        
        
          
        
        {% endfor %}
    </ol>
    </div-->


  
</body>
</html>