<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RitstaR</title>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" ></script>
    
</head>
<body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <div class="container">
        <div class="jumbotron">

        <h1 style="color: red;">News App : Made by:- Ritesh And Abhay</h1>
        <h3>Categories: <a href="http://127.0.0.1:8000/">Tech News</a>  <a href="#">Worldwide News</a></h3>
        
        </div>
    </div>

    


    <div class="container">
        <h2>Top 20 Worldwide Headlines</h2>            
        <ol>
        {% for i in articles.articles %}
        
        <li><img src="{{i.urlToImage}}" alt="" style="width:120px;height:90px;"><a href="{{i.url}}" style="font-size:20px;">    {{ i.title }}</a></li>
        <br><br> 

        {% endfor %}
    </ol>
    </div>


  
</body>
</html>